/*
 * Container style
 */
.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
  display: block;
  opacity: 1;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  height: 6px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-y {
  display: block;
  opacity: 1;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  width: 6px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: #000000;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 1;
}

.ps__rail-x:hover,
.ps__rail-y:hover,
.ps__rail-x:focus,
.ps__rail-y:focus {
  background-color: #000000;
  opacity: 1;
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  background-color: #468879;
  transition: background-color .2s linear, height .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__thumb-y {
  background-color: #468879;
  transition: background-color .2s linear, width .2s ease-in-out;
  -webkit-transition: background-color .2s linear, width .2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 0px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__thumb-y::before {
  content: '';
  display: block;
  width: 4px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2px;
  background: #000000;
  box-shadow: 0 -6px #000000, 0 -12px #000000, 0 6px #000000, 0 12px #000000;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x {
  background-color: #468879;
  height: 6px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y {
  background-color: #468879;
  width: 6px;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}


/* White theme */
.theme-white .ps--active-x > .ps__rail-x,
.theme-white .ps--active-y > .ps__rail-y {
  background-color: #606060;
}

.theme-white .ps__rail-x:hover,
.theme-white .ps__rail-y:hover,
.theme-white .ps__rail-x:focus,
.theme-white .ps__rail-y:focus {
  background-color: #606060;
}

.theme-white .ps__thumb-x {
  background-color: #a6d9d6;
}

.theme-white .ps__thumb-y {
  background-color: #a6d9d6;
}

.theme-white .ps__thumb-y::before {
  background: #3b6b68;
  box-shadow: 0 -6px #3b6b68, 0 -12px #3b6b68, 0 6px #3b6b68, 0 12px #3b6b68;
}