$text-color: #3b6b68;
$accent-text-color: #ffffff;

.get-started-layout {
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  padding-bottom: 20px;

  .theme-white & {
    background: #ededed;
  }

  &__title {
    text-align: center;
    color: #ffffff;
    font-size: 36px;
    font-weight: 300;
    margin: 45px 0 45px;
    text-transform: uppercase;

    .theme-white & {
      color: #000000;
    }
  }

  &__title-icon {
    background: url(../img/get-started-title-icon.svg) 0 0 no-repeat;
    background-size: 26px 26px;
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-right: 10px;

    .theme-white & {
      background: url(../img/get-started-title-icon-white-theme.svg) 0 0 no-repeat;
    }
  }

  &__section {
    border: 1px solid #253137;
    border-top: none;
    padding: 40px;
    margin: 0 20px;
    line-height: 30px;

    .theme-white & {
      color: #777777;
      border: 1px solid #bbbbbb;
      border-top: none;
    }

    h3 {
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 300;
      margin: 0;
      color: #ffffff;

      .theme-white & {
        color: #000000;
      }
    }

    ol {
      list-style: none;
      counter-reset: list-counter;
      padding: 0;
    }

    li {
      counter-increment: list-counter;
      padding-left: 33px;
      position: relative;

      &::before {
        content: counter(list-counter);
        width: 26px;
        height: 26px;
        border-radius: 50%;
        border: 1px solid $text-color;
        box-sizing: border-box;
        text-align: center;
        line-height: 24px;
        font-size: 14px;
        color: $text-color;
        position: absolute;
        left: 0;

        .theme-white & {
          border: 1px solid #bbbbbb;
          color: #777777;
        }
      }
    }
  }

  &__title + &__section {
    border-top: 1px solid #253137;

    .theme-white & {
      border-top: 1px solid #bbbbbb;
    }
  }
}






.provably-fair-layout {
  overflow: hidden;
  position: relative;
  flex-grow: 1;

  .theme-white & {
    background: #ededed;
  }

  &__title {
    text-align: center;
    color: #ffffff;
    font-size: 36px;
    font-weight: 300;
    margin: 45px 0 45px;
    text-transform: uppercase;

    .theme-white & {
      color: #000000;
    }
  }

  &__title-icon {
    background: url(../img/provably-fair-title-icon.svg) 0 0 no-repeat;
    background-size: 32px 26px;
    width: 32px;
    height: 26px;
    display: inline-block;
    margin-right: 10px;

    .theme-white & {
      background: url(../img/provably-fair-title-icon-white-theme.svg) 0 0 no-repeat;
    }
  }

  &__section {
    border: 1px solid #253137;
    border-top: none;
    padding: 40px;
    margin: 0 20px;
    line-height: 30px;

    .theme-white & {
      color: #777777;
      border: 1px solid #bbbbbb;
      border-top: none;
    }

    p {
      margin: 15px 0;
    }

    &--double {
      display: flex;
      padding: 0;
      margin-bottom: 40px;
    }
  }

  &__section-half {
    flex: 1;
    padding: 40px;

    & + & {
      border-left: 1px solid #253137;

      .theme-white & {
        border-left: 1px solid #bbbbbb;
      }
    }
  }

  &__section-title {
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 300;
    margin: 0;

    .theme-white & {
      color: #000000;
    }

    &--centered {
      text-align: center;
    }
  }

  &__coin {
    border-radius: 50%;
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 0 0 20px;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;

    &--heads {
      background: url(../img/coin-color.svg) center center no-repeat;
      background-size: 45px 45px;
      border: none;
    }

    &--tails {
      background: url(../img/coin-color-back.svg) center center no-repeat;
      background-size: 45px 45px;
      border: none;
    }
  }

  &__coinflip-value {
    width: 245px;
    display: inline-block;
    text-transform: uppercase;
  }

  &__title + &__section {
    border-top: 1px solid #253137;

    .theme-white & {
      border-top: 1px solid #bbbbbb;
    }
  }

  .winner-formula {
    font-size: 20px;
    color: #ffffff;
    padding: 17px 15px 18px;
    background-color: #253137;

    .theme-white & {
      background: #33af84;
      color: #ffffff;
    }
  }

  &__form {
    padding-bottom: 40px;
  }

  &__form-item {
    margin-top: 15px;
    text-align: center;
  }

  &__label {
    width: 190px;
    display: inline-block;
    margin-right: 20px;
    text-align: right;
    text-transform: uppercase;
    font-size: 16px;

    .theme-white & {
      color: #777777;
    }
  }

  &__input {
    display: inline-block;
    border: 1px solid rgb(50, 67, 76);
    background-color: rgb(21, 28, 30);
    box-shadow: inset 2.351px 3.236px 4px 0px rgba(0, 0, 0, 0.35);
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    box-sizing: border-box;
    width: 580px;
    max-width: 100%;
    outline: none;
    color: #ffffff;
    padding-left: 10px;

    .theme-white & {
      color: #000000;
      border-color: rgb(177, 176, 176);
      background-color: rgb(237, 237, 237);
      box-shadow: inset 0px 0px 7px 0px rgba(18, 18, 18, 0.49);
    }
  }

  &__form-submit {
    margin-top: 30px;
    text-align: center;
  }

  & &__form-submit-btn {
    font-size: 20px;
  }
}

.create-coinflip-modal {
  .tingle-modal-box {
    min-width: 1110px;
  }

  .tingle-modal-box__content {
    padding: 28px 80px 45px;
  }
}


.create-coinflip-head {
  display: flex;
  margin-top: 18px;

  &__left {
    width: 56.8%;
    border: 1px solid #445158;
    display: flex;
    align-items: flex-start;
    padding: 8px 15px 7px 20px;

    .theme-white & {
      background: #cbcbcb;
    }
  }

  &__right {
    margin-left: 5px;
    border: 1px solid #445158;
    display: flex;
    align-items: flex-start;
    padding: 8px 13px 7px 9px;
    flex: 1;


    .theme-white & {
      background: #cbcbcb;
    }
  }

  &__min,
  &__max,
  &__total,
  &__valued-at {
    font-size: 16px;
    color: #ffffff;

    .theme-white & {
      color: #000000;
    }
  }

  &__min {
    padding-right: 8px;
    text-align: right;
    white-space: nowrap;
  }

  &__max {
    padding-left: 8px;
    border-left: 1px solid #445158;
    text-align: left;
    white-space: nowrap;

    .theme-white & {
      border-left: 1px solid #5e918e;
    }
  }

  &__total {
    padding-right: 8px;
  }

  &__valued-at {
    padding-left: 8px;
    border-left: 1px solid #445158;

    .theme-white & {
      border-left: 1px solid #465259;
    }

  }

  &__deposit {
    margin-left: auto;
    align-self: center;
  }

  &__label {
    font-size: 14px;
    color: $text-color;
    display: block;
    margin-bottom: 5px;

    .theme-white & {
      color: #2f4f4d;
    }
  }

  &__minmax-description {
    padding-left: 20px;
    color: $text-color;
    font-size: 12px;
    line-height: 16px;

    .theme-white & {
      color: #2f4f4d;
    }
  }

  &__coin {
    border-radius: 50%;
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 10px;

    &--heads {
      background: url(../img/coin-color.svg) center center no-repeat;
      background-size: 45px 45px;
      border: none;
    }

    &--tails {
      background: url(../img/coin-color-back.svg) center center no-repeat;
      background-size: 45px 45px;
      border: none;
    }

    &--active {
      box-shadow: 0 0 13px #00ff96;
    }
  }
}




.create-coinflip-inventory {
  position: relative;

  &__title {
    font-size: 21px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 300;
    margin: 28px 0 0;
  }

  &__inventory-list {
    margin-top: 16px;
    background-color: #151c1e;
    padding: 20px;
    min-height: 277px;

    .theme-white & {
      background-color: #ededed;
    }
  }

  &__action {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__action-btn {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 12px;
    color: $text-color;

    .theme-white & {
      color: #ffffff;
    }
  }

  .refresh-inventory {
    display: inline-block;
    margin-right: 8px;
    width: 15px;
    height: 17px;
    background: url(../img/refresh.svg) 0 0 no-repeat;
    vertical-align: middle;

    .theme-white & {
      background: url(../img/refresh-white-theme.svg) 0 0 no-repeat;
    }
  }

  & &__highlighted-tile {
    border: 1px solid #0fbf76;

    .theme-white & {
      border: 1px solid #0a0a0a;
    }
  }

  .sending-offer {
    width: 36px;
    height: 36px;
    margin: 50px auto 0;
    background: url(../img/sending-offer.svg) 0 0 no-repeat;


    .theme-white & {
      background: url(../img/sending-offer-white-theme.svg) 0 0 no-repeat;
    }
  }

  &__sending-title {
    font-size: 21px;
    color: #00ff96;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    margin: 20px 0;

    .theme-white & {
      color: #000000;
    }
  }

  &__sending-paragraph {
    font-size: 12px;
    text-align: center;
    margin: 50px 0 0;


    .theme-white & {
      color: #376360;
    }
  }

  &__active-title {
    font-size: 21px;
    color: #00ff96;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    margin: 20px 0;

    .theme-white & {
      color: #000000;
    }
  }

  &__active-paragraph {
    margin: 22px 0 0;
    font-size: 12px;
    text-align: center;

    .theme-white & {
      color: #376360;
    }
  }

  .sending-offer-browser-icon {
    width: 21px;
    height: 21px;
    display: inline-block;
    margin-right: 8px;
    background: url(../img/browser.svg) 0 0 no-repeat;
    background-size: 21px 21px;
    vertical-align: middle;
  }

  .sending-offer-steam-icon {
    width: 24px;
    height: 14px;
    display: inline-block;
    margin-right: 8px;
    background: url(../img/steam-logo-white-theme.svg) 0 0 no-repeat;
    background-size: 24px 14px;
    vertical-align: middle;
  }

  &__sending-btn {
    height: 41px;
    line-height: 41px;
    border-radius: 21px;
    padding: 0 20px;
    text-transform: uppercase;

    & + & {
      margin-left: 28px;
    }
  }

  &__sending-buttons {
    text-align: center;
    margin: 25px 0 30px;
  }

}


.create-coinflip-footer {
  text-align: right;
  margin-top: 21px;

  &__button {
    height: 41px;
    line-height: 41px;
    font-size: 14px;
    padding: 0 20px;
    border-radius: 21px;
    text-transform: uppercase;
  }
}

.coinflip-history-modal {
  .tingle-modal-box {
    min-width: 1110px;
  }

  .tingle-modal-box__content {
    padding: 28px 80px 45px;
  }
}


.coinflip-history {
  &__table-head {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
    margin-top: 15px;

    th {
      background: #000000;
      color: #3b6b68;
      font-size: 14px;
      font-weight: 300;
      padding: 9px 0;
      text-align: left;

      .theme-white & {
        background: #cbcbcb;
        color: #2f4f4d;
      }

      &:first-child {
        padding-left: 10px;
      }
    }
  }

  &__table-container {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
  }

  &__table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
    background: #151c1e;


    .theme-white & {
      background: #ededed;
    }

    tr:last-child td {
      border-bottom: none;
    }

    td {
      padding: 12px 0 14px;
      border-bottom: 1px solid #253137;
      color: #ffffff;

      .theme-white & {
        border-bottom: 1px solid #bbbbbb;
        color: #000000;
      }

      &:first-child {
        padding-left: 10px;
      }
    }
  }

  &__avatar {
    margin-left: 9px;
    border-radius: 50%;
    border: 1px solid #29383f;
    overflow: hidden;
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;

    &:first-child {
      margin-left: 0;
      margin-right: 9px;
    }
  }

  &__coin {
    width: 34px;
    height: 34px;
    display: inline-block;
    vertical-align: middle;

    &--heads {
      background: url(../img/coin-color.svg) center center no-repeat;
      background-size: 34px 34px;
    }

    &--tails {
      background: url(../img/coin-color-back.svg) center center no-repeat;
      background-size: 34px 34px;
    }
  }

  &__game-items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
  }

  &__game-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
  }

  &__players-col {
    width: 15.8%;
  }

  &__items-col {
    width: 66.3%;
  }

  &__total-col {
    width: 8.4%;
  }

  &__winner-col {
    width: 9.5%;
  }

  &__game-label {
    font-size: 12px;
    color: #ffffff;
    background: #27443d;
    height: 15px;
    line-height: 15px;
    display: inline-block;
    padding-right: 6px;
    border-radius: 0 8px 8px 0;
    position: relative;
    margin-left: 15px;
    font-weight: 400;

    .theme-white & {
      color: #ffffff;
      background: #5e918e;
    }

    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7.5px 9px 7.5px 0;
      border-color: transparent #27443d transparent transparent;
      left: -9px;
      top: 0;

      .theme-white & {
        border-color: transparent #5e918e transparent transparent;
      }
    }
  }

  &__table-comment {
    font-size: 12px;
    color: #243e3c;
    background: #151c1e;
    padding: 3px 10px 8px;

    .theme-white & {
      color: #777777;
      background: #ededed;
    }

    span + span {
      display: inline-block;
      margin-left: 8px;
      padding-left: 10px;
      border-left: 1px solid #243e3c;

      .theme-white & {
        border-left: 1px solid #364e4c;
      }
    }
  }

  &__help-icon {
    width: 14px;
    height: 14px;
    appearance: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    background: url(../img/help.svg) 0 0 no-repeat;
    background-size: 14px 14px;
    vertical-align: middle;
    margin-left: 8px;


    .theme-white & {
      background: url(../img/help-white-theme.svg) 0 0 no-repeat;
    }
  }
}


.popup__title {
  small {
    font-size: 24px;
  }
}

.jackpot-history-modal {
  .tingle-modal-box {
    min-width: 1110px;
  }

  .tingle-modal-box__content {
    padding: 28px 80px 45px;
  }
}


.jackpot-history {
  &__table-head {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    table-layout: fixed;


    th {
      background: #000000;
      color: #3b6b68;
      font-size: 14px;
      font-weight: 300;
      padding: 9px 0;
      text-align: left;

      .theme-white & {
        background: #cbcbcb;
        color: #30504f;
      }

      &:first-child {
        padding-left: 10px;
      }
    }
  }

  &__table-container {
    flex-grow: 1;
    position: relative;
  }

  &__table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
    background: #151c1e;

    .theme-white & {
      background: #ededed;
    }

    td {
      padding: 12px 0 14px;
      border-top: 1px solid #253137;
      color: #ffffff;

      .theme-white & {
        border-top: 1px solid #bbbbbb;
        color: #000000;
      }

      &:first-child {
        padding-left: 10px;
      }
    }
  }

  &__game-items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
  }

  &__game-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
  }

  &__game-label {
    font-size: 12px;
    color: #ffffff;
    background: #27443d;
    height: 15px;
    line-height: 15px;
    display: inline-block;
    padding-right: 6px;
    border-radius: 0 8px 8px 0;
    position: relative;
    margin-left: 15px;
    font-weight: 400;

    .theme-white & {
      color: #ffffff;
      background: #5e918e;
    }

    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7.5px 9px 7.5px 0;
      border-color: transparent #27443d transparent transparent;
      left: -9px;
      top: 0;

      .theme-white & {
        border-color: transparent #5e918e transparent transparent;
      }
    }
  }

  &__items-col {
    width: 66.3%;
  }

  &__amount-col {
    width: 13.7%;
  }

  &__winlose-col {
    width: 9.5%;
  }

  &__time {
    width: 10.5%;
    text-align: center !important;
  }

  &__calendar {
    position: relative;
    display: inline-block;
    background: url(../img/calendar.png) 0 0 no-repeat;
    background-size: 20px 22px;
    width: 20px;
    height: 22px;


    .theme-white & {
      background: url(../img/calendar-white-theme.png) 0 0 no-repeat;
      background-size: 20px 22px;
    }
  }

  &__calendar:hover &__calendar-tooltip {
    display: block;
  }

  &__calendar-tooltip {
    height: 25px;
    line-height: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: #dddddd;
    background: #3b6b68;
    position: absolute;
    padding: 0 10px;
    font-size: 12px;
    white-space: nowrap;
    top: -36px;
    display: none;


    .theme-white & {
      background: #cbcbcb;
      color: #000000;
      border: 1px solid #bbbbbb;
    }

    &::before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 6px 0 6px;
      border-color: #3b6b68 transparent transparent transparent;
      position: absolute;
      bottom: -6px;
      left: 50%;
      margin-left: -6px;


      .theme-white & {
        border-color: #cbcbcb transparent transparent transparent;
      }
    }
  }

  &__winlose-icon {
    display: inline-block;
    margin-left: 15px;

    &--win {
      width: 22px;
      height: 22px;
      background: url(../img/win-circle.svg) 0 0 no-repeat;
      background-size: 22px 22px;

      .theme-white & {
        background: url(../img/win-circle-white-theme.svg) 0 0 no-repeat;
      }
    }

    &--lose {
      width: 22px;
      height: 22px;
      background: url(../img/lose-circle.svg) 0 0 no-repeat;
      background-size: 22px 22px;

      .theme-white & {
        background: url(../img/lose-circle-white-theme.svg) 0 0 no-repeat;
      }
    }
  }
}

.jackpot-history-overview {
  display: flex;
  border-bottom: 1px solid #253137;
  margin-top: 15px;


  .theme-white & {
    border-bottom: 1px solid #bbbbbb;
  }

  &__item {
    flex: 1;
    text-align: center;
    background: #000000;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 0 14px;

    .theme-white & {
      background: #cbcbcb;
      color: #000000;
    }
  }

  &__label {
    color: #3b6b68;
    font-size: 14px;
    display: block;
    margin-bottom: 12px;

    .theme-white & {
      color: #2f4f4d;
    }
  }
}


.page-footer {
  &__menu {
    margin-left: auto;
  }

  &__menu-item {
    display: inline-block;
    margin-left: 22px;

    a {
      color: #467e71;
      font-size: 14px;
      text-decoration: none;

      .theme-white & {
        color: #a6d9d6;
      }
    }
  }

  &__get-started-icon {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/get-started-footer-icon.svg) 0 0 no-repeat;
    background-size: 17px 17px;
    margin-right: 6px;
    vertical-align: middle;
    margin-top: -3px;

    .theme-white & {
      background: url(../img/get-started-footer-icon-white-theme.svg) 0 0 no-repeat;
      background-size: 17px 17px;
    }
  }

  &__provably-fair-icon {
    display: inline-block;
    width: 20px;
    height: 17px;
    background: url(../img/provably-fair-footer-icon.svg) 0 0 no-repeat;
    background-size: 20px 17px;
    margin-right: 6px;
    vertical-align: middle;
    margin-top: -3px;

    .theme-white & {
      background: url(../img/provably-fair-footer-icon-white-theme.svg) 0 0 no-repeat;
      background-size: 20px 17px;
    }
  }

  .status-label {
    color: #467e71;
    font-size: 14px;

    .theme-white & {
      color: #a6d9d6;
    }
  }

  .steambot-status {
    display: inline-block;
    height: 17px;
    line-height: 17px;
    text-transform: uppercase;
    font-size: 9px;
    border-radius: 9px;
    padding: 0 10px;
    vertical-align: middle;
    margin-left: 4px;

    &--on {
      color: #2c2c2c;
      background: #00ffa8;
    }

    &--off {
      color: #3f7065;
      background: #151c1e;
    }
  }
}

.user-dropdown {
  display: inline-block;
  width: 100px;
  position: absolute;
  right: 0;
  overflow: visible;

  &__button {
    position: relative;
    min-width: initial;
  }

  &__level {
    display: inline-block;
    position: absolute;
    background: #00ff96;
    height: 11px;
    border-radius: 6px;
    font-size: 9px;
    padding: 0 7px;
    line-height: 11px;
    color: #000000;
    right: 30px;
    top: 6px;
  }
}

.header-panel__menu {
  right: 7px;
  width: auto;
}

.header-panel__item {
  position: relative;
}

.header-panel__menu-link {
  white-space: nowrap;
  padding-right: 10px;
}

.user-dropdown-wrapper {
  width: 100px;
  display: inline-block;
  height: 56px;
  vertical-align: middle;
}

.header-links__item {
  display: inline-block;
}

.header-links__icon--volume {
  width: 31px;
  height: 26px;
  background: url(../img/volume.svg) 0 0  no-repeat;
  background-size: 31px 26px;
  border: none;
  margin: 0;
  cursor: pointer;
  outline: none;

  &:hover {
    background: url(../img/volume-hover.svg) 0 0  no-repeat;
    background-size: 31px 26px;
  }

  .theme-white & {
    background: url(../img/volume-theme-white.svg) 0 0  no-repeat;
    background-size: 31px 26px;

    &:hover {
      background: url(../img/volume-theme-white-hover.svg) 0 0  no-repeat;
      background-size: 31px 26px;
    }
  }
}


.process-layout {
  background-image: url(../img/bg-dark.jpg);
  background-position: center center;
  background-size: cover;

  .theme-white & {
    background-image: url(../img/bg-white.jpg);
    background-position: center center;
    background-size: cover;
  }
}


.list-layout__table-container {
  background-image: url(../img/bg-dark.jpg);
  background-position: center center;
  background-size: cover;

  .theme-white & {
    background-image: url(../img/bg-white.jpg);
    background-position: center center;
    background-size: cover;
  }
}

.list-layout__table td {
  background: #151c1e;

  .theme-white & {
    background: #ededed;
  }
}


.jackpot-layout__main {
  background-image: url(../img/bg-dark.jpg);
  background-position: center center;
  background-size: cover;

  .theme-white & {
    background-image: url(../img/bg-white.jpg);
    background-position: center center;
    background-size: cover;
  }
}


.jackpot-diagram__tooltip,
.jackpot-diagram-legend__tooltip {
  font-size: 10px;
  height: 19px;
  line-height: 19px;
  background: #33444d;
  color: #00ff96;
  border-radius: 0 10px 10px 0;
  position: absolute;
  padding-right: 12px;
  padding-left: 5px;
  white-space: nowrap;
  z-index: 20;

  &::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9.5px 11px 9.5px 0;
    border-color: transparent #33444d transparent transparent;
    position: absolute;
    left: -11px;
    top: 0;
  }
}

.jackpot-diagram-legend__item {
  position: relative;
}

.jackpot-diagram-legend__tooltip {
  display: none;
  left: 100%;
  top: -2px;
}

.jackpot-diagram-legend__color:hover ~ .jackpot-diagram-legend__tooltip {
  display: block;
}

.winner-total__coins {
  width: 26px;
  height: 36px;
  background: url(../img/coins.svg) 0 0 no-repeat;
  background-size: 26px 36px;
  display: inline-block;
  margin-right: 5px;
  margin-left: 15px;
}

.small-coins-icon {
  width: 7px;
  height: 9px;
  background: url(../img/coins.svg) 0 0 no-repeat;
  background-size: 7px 9px;
  display: inline-block;

  &--medium {
    width: 12px;
    height: 16px;
    background-size: 12px 16px;
  }
}

.list-layout__players-col {
  width: 14.35%;
}

.list-layout__total-items-col {
  width: 43.43%;
}

.list-layout__game-items {
  display: block;
  margin: 0;
}

.list-layout__coin + .list-layout__avatar {
  margin-left: 10px;
}

.list-layout__number-col .list-layout__coin + .list-layout__avatar {
  margin-left: 15px;
}

.list-layout__item-label {
  font-size: 12px;
  color: #ffffff;
  background: #27443d;
  height: 15px;
  line-height: 15px;
  display: inline-block;
  padding-right: 6px;
  border-radius: 0 8px 8px 0;
  position: relative;
  margin-left: 15px;
  font-weight: 400;

  .theme-white & {
    color: #ffffff;
    background: #5e918e;
  }

  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 9px 7.5px 0;
    border-color: transparent #27443d transparent transparent;
    left: -9px;
    top: 0;

    .theme-white & {
      border-color: transparent #5e918e transparent transparent;
    }
  }
}

.list-layout__table td:first-child {
  padding-top: 15px;
}

.roulette-user--winner {
  .theme-white & {
    background: #ffffff;
  }
}

.list-layout__winner-avatar {
  height: 44px;
  margin-top: -14px;
}

.jackpot-diagram__inner--timer {
  background-image: url(../img/clock-bg.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 300px 300px;

  .theme-white & {
    background-image: url(../img/clock-bg-white-theme.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 300px 300px;
  }
}

.header-panel__steam-login {
  display: inline-block;
  padding-left: 1px;
}

.header-panel {
  min-width: 950px;
}

.header-links__link {
  white-space: nowrap;
}

.header-links__item {
  white-space: nowrap;
}

.create-coinflip-footer {
  position: relative;
}

.modal-footer-pagination {
  position: absolute;
  width: 550px;
  text-align: center;
  top: 8px;
  left: 50%;
  margin-left: -275px;

  &__item {
    border: 1px solid #465b66;
    width: 24px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 2px;

    &:hover {
      opacity: 0.4;
    }

    .theme-white & {
      border: 1px solid rgb(91,146,144);
    }
  }
}

.logo {
  position: relative;
}

.logo__beta {
  position: absolute;
  width: 70px;
  top: 5px;
  left: 5px;
}