@import "normalize";

$text-color: #3b6b68;
$accent-text-color: #ffffff;

body {
  background-color: #151c1e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: $text-color;
  font-family: 'Roboto', Arial, sans-serif;

  &.theme-white {
    background-color: #3b6b68;
    color: #a6d9d6;
  }
}

.main {
  display: flex;
  flex-wrap: nowrap;
  min-width: 1200px;
}

.sidebar {
  width: 357px;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;

  &--narrow {
    width: 278px;
  }
}

.main-section {
  height: calc(100vh - 60px);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.page-footer {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  background: #1b2327;
  border: 1px solid #000000;
  border-bottom: none;
  font-size: 12px;
  box-sizing: border-box;
  min-width: 1200px;

  .theme-white & {
    background: #3b6b68;
    border: 1px solid #5e918e;
    border-bottom: none;
  }
}

.logo {
  text-align: center;
  font-weight: 300;
  padding: 10px 0 8px;
  border: 1px solid #253137;
  border-bottom: none;

  .theme-white & {
    border: none;
  }

  &__image {
    display: inline-block;
  }

  &__info {
    margin-top: -26px;
  }

  &__label {
    font-size: 12px;

    .theme-white & {
      color: #ffffff;
    }
  }

  &__number {
    font-size: 12px;
    color: $accent-text-color;
  }

  &__user-icon {
    display: inline-block;
    width: 8px;
    height: 10px;
    background: url(../img/user-small.svg) 0 0 no-repeat;
    margin-right: 3px;

    .theme-white & {
      background: url(../img/user-small-white-theme.svg) 0 0 no-repeat;
    }
  }
}



.language-switcher {
  border: 1px solid #253137;
  display: flex;
  height: 44px;
  flex: 0 0 44px;

  .theme-white & {
    border: 1px solid #7eb0ad;
  }

  &__item {
    width: 50%;
    background-color: #1b2327;
    margin: 0;
    padding: 0;
    border: none;
    border-left: 1px solid #253137;
    cursor: pointer;
    outline: none;
    border-radius: 0;

    .theme-white & {
      background-color: #5e918e;
      border: none;
      border-left: 1px solid #7eb0ad;
    }

    &:first-child {
      border-left: none;
    }

    &--current {
      background-color: #151c1e;
      position: relative;

      .theme-white & {
        background-color: #3b6b68;
      }

      &::before,
      &::after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        left: 50%;
      }

      &::before {
        border-width: 7px 6px 0 6px;
        border-color: #253137 transparent transparent transparent;
        margin-left: -5px;
        bottom: -7px;
        z-index: 1;

        .theme-white & {
          border-color: #7eb0ad transparent transparent transparent;
        }
      }

      &::after {
        border-width: 5px 5px 0 5px;
        border-color: #151c1e transparent transparent transparent;
        margin-left: -4px;
        bottom: -5px;
        z-index: 2;

        .theme-white & {
          border-color: #3b6b68 transparent transparent transparent;
        }
      }
    }
  }

  &__flag {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #29383f;
    text-indent: 100%;
    overflow: hidden;

    .theme-white & {
      border: 1px solid #29383f;
    }

    &--us {
      background: url(../img/us-flag.png) 0 0 no-repeat;
      background-size: 21px 21px;
    }

    &--ru {
      background: url(../img/ru-flag.png) 0 0 no-repeat;
      background-size: 21px 21px;
    }
  }
}


.chat {
  position: relative;
  flex: 1;

  &__inner {
    padding: 20px 20px 32px;
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
    top: 0;
    bottom: 84px;
    width: 100%;

    .theme-white & {
      background-color: #5e918e;
    }
  }

  &__submit {
    position: absolute;
    bottom: 0;
    padding: 20px 20px 19px;
    box-sizing: border-box;
    width: 100%;
    background-color: #253137;
    border: 1px solid #32434c;

    .theme-white & {
      background-color: #cbcbcb;
      border: 1px solid #bbbbbb;
    }
  }

  &__submit-input {
    appearance: none;
    background: #1b2327;
    border: 1px solid #32434c;
    border-radius: 22px;
    height: 43px;
    box-shadow: inset 2.351px 3.236px 4px rgba(0, 0, 0, 0.35);
    padding: 0 12px;
    color: #355e54;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    
    .theme-white & {
      background: #ededed;
      border: 1px solid #b1b0b0;
      box-shadow: inset 1.551px 0.736px 7px rgba(18, 18, 18, 0.49);
      color: #777777;
    }
  }

  &__messages {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}



.message {
  display: flex;
  margin: 17px 0 0;

  &__logo {
    width: 35px;
  }

  &__body {
    flex: 1;
    margin-left: 10px;
  }

  &__author {
    display: block;
    font-size: 12px;
    color: #ffffff;
    margin: 7px 0 0;
  }

  &__text {
    display: block;
    font-size: 12px;
    line-height: 15px;
    margin: 6px 0 0;
    word-break: break-word;
  }

  &__avatar {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 1px solid #29383f;
    overflow: hidden;

    .theme-white & {
      border: 1px solid #a6d9d6;
    }
  }
}




.header-panel {
  border: 1px solid #32434c;
  display: flex;
  background: #1b2327;
  margin-left: -1px;
  height: 55px;
  flex: 0 0 55px;

  .theme-white & {
    border: 1px solid #5e918e;
    background: #3b6b68;
  }

  &__item {
    &--main-nav {
      margin: 0 auto;
    }
  }

  &__menu {
    background: rgba(0, 0, 0, 0.89);
    position: absolute;
    margin: 0;
    padding: 0 0 13px;
    list-style: none;
    width: 100%;
    z-index: 10;
    display: none;
    
    .theme-white & {
      background: rgba(24, 63, 60, 0.9);
    }
  }

  &__menu-item {
    &--bordered {
      margin-top: 13px;
      border-top: 1px solid #253137;
      padding-top: 10px;

      .theme-white & {
        border-top: 1px solid #568482;
      }
    }
  }

  &__menu-link {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    position: relative;
    padding-left: 34px;
    display: block;
    height: 27px;
    line-height: 27px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__menu-icon {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 15px;
    top: 50%;

    &--pen {
      background: url(../img/pen-small.svg) 0 0 no-repeat;
      width: 10px;
      height: 10px;
      background-size: 10px 10px;
      margin-top: -5px;
    }

    &--jackpot {
      background: url(../img/jackpot-small.svg) 0 0 no-repeat;
      width: 10px;
      height: 11px;
      background-size: 10px 11px;
      margin-top: -5px;
    }

    &--coinflip {
      background: url(../img/coinflip-small.svg) 0 0 no-repeat;
      width: 11px;
      height: 8px;
      background-size: 11px 8px;
      margin-top: -4px;
    }

    &--logout {
      background: url(../img/logout-small.svg) 0 0 no-repeat;
      width: 13px;
      height: 15px;
      background-size: 13px 15px;
      margin-top: -7px;
    }
  }
}

.steam-login {
  display: inline-block;
  height: 30px;
  color: #ffffff;
  font-size: 14px;
  border: 1px solid #00ff96;
  border-radius: 16px;
  background: #151c1e;
  padding: 0 15px 0 47px;
  text-decoration: none;
  line-height: 30px;
  position: relative;
  margin: 12px 12px 0 0;

  .theme-white & {
    color: #000000;
    background: #ffffff;
    border: none;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    left: 11px;
    width: 24px;
    height: 14px;
    background: url(../img/steam-logo.svg);
    background-size: 24px 14px;

    .theme-white & {
      background: url(../img/steam-logo-white-theme.svg);
    }
  }
}

.header-links {
  display: flex;
  align-items: center;

  &__item {
    padding: 0 15px;
    height: 27px;
    border-right: 1px solid #253136;
    line-height: 27px;

    .theme-white & {
      border-right: 1px solid #568482;
    }
  }

  &__social-link {
    display: inline-block;
    vertical-align: middle;

    &--vk {
      background: url(../img/social-icon-vk.svg) 0 0 no-repeat;
      background-size: 19px 11px;
      width: 19px;
      height: 11px;

      &:hover {
        background: url(../img/social-icon-vk-hover.svg) 0 0 no-repeat;
      }

      .theme-white & {
        background: url(../img/social-icon-vk-white-theme.svg) 0 0 no-repeat;

        &:hover {
          background: url(../img/social-icon-vk-white-theme-hover.svg) 0 0 no-repeat;
        }
      }
    }

    &--youtube {
      background: url(../img/social-icon-youtube.svg) 0 0 no-repeat;
      background-size: 19px 13px;
      width: 19px;
      height: 13px;
      margin-left: 7px;

      &:hover {
        background: url(../img/social-icon-youtube-hover.svg) 0 0 no-repeat;
      }

      .theme-white & {
        background: url(../img/social-icon-youtube-white-theme.svg) 0 0 no-repeat;

        &:hover {
          background: url(../img/social-icon-youtube-white-theme-hover.svg) 0 0 no-repeat;
        }
      }
    }
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;

    &--faq {
      background: url(../img/header-icon-faq.svg) 0 0 no-repeat;
      background-size: 18px 16px;
      width: 18px;
      height: 16px;

      .theme-white & {
        background: url(../img/header-icon-faq-white-theme.svg) 0 0 no-repeat;
      }
    }

    &--terms {
      background: url(../img/header-icon-terms.svg) 0 0 no-repeat;
      background-size: 17px 17px;
      width: 17px;
      height: 17px;

      .theme-white & {
        background: url(../img/header-icon-terms-white-theme.svg) 0 0 no-repeat;
      }
    }

    &--brightness {
      background: url(../img/header-icon-brightness.svg) 0 0 no-repeat;
      background-size: 27px 27px;
      width: 27px;
      height: 27px;
      border: none;
      margin: 0;
      cursor: pointer;
      outline: none;

      &:hover {
        background: url(../img/header-icon-brightness-hover.svg) 0 0 no-repeat;
      }

      .theme-white & {
        background-size: 26px 27px;
        width: 26px;
        background: url(../img/header-icon-brightness-white-theme.svg) 0 0 no-repeat;

        &:hover {
          background: url(../img/header-icon-brightness-white-theme-hover.svg) 0 0 no-repeat;
        }
      }
    }

    &--us {
      width: 23px;
      height: 23px;
      border-radius: 50%;
      cursor: pointer;
      background: url(../img/us-flag.png) 0 0 no-repeat;
      background-size: 23px 23px;
      border: none;
      padding: 0;
      outline: none;
      margin: 0;
    }

    &--ru {
      width: 23px;
      height: 23px;
      border-radius: 50%;
      cursor: pointer;
      background: url(../img/ru-flag.png) 0 0 no-repeat;
      background-size: 23px 23px;
      border: none;
      padding: 0;
      outline: none;
      margin: 0;
    }
  }

  &__link {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    height: 17px;
    line-height: 17px;
    display: inline-block;

    &:hover {
      .header-links__icon--faq {
        background: url(../img/header-icon-faq-hover.svg) 0 0 no-repeat;

        .theme-white & {
          background: url(../img/header-icon-faq-white-theme-hover.svg) 0 0 no-repeat;
        }
      }

      .header-links__icon--terms {
        background: url(../img/header-icon-terms-hover.svg) 0 0 no-repeat;

        .theme-white & {
          background: url(../img/header-icon-terms-white-theme-hover.svg) 0 0 no-repeat;
        }
      }
    }
  }
}



.main-nav {
  font-size: 0;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
  }

  &__item {
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
  }

  &__link {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    height: 55px;
    line-height: 55px;

    &:hover {
      color: #12ba7b;

      .main-nav__icon--jackpot {
        background: url(../img/menu-icon-jackpot-green.svg) 0 0 no-repeat;
        background-size: 17px 18px;

        .theme-white & {
          background: url(../img/menu-icon-jackpot-green.svg) 0 0 no-repeat;
        }
      }

      .main-nav__icon--coin {
        background: url(../img/menu-icon-coinflip-green.svg) 0 0 no-repeat;
        background-size: 15px 11px;

        .theme-white & {
          background: url(../img/menu-icon-coinflip-green.svg) 0 0 no-repeat;
        }
      }
    }

    &--current {
      background: #32434c;
      color: #12ba7b;

      .theme-white & {
        background: #5e918e;
        color: #00ffa8;

        &:hover {
          color: #ffffff;
        }
      }

      &:hover {
        color: #ffffff;

        .main-nav__icon--jackpot {
          background: url(../img/menu-icon-jackpot-white.svg) 0 0 no-repeat;
          background-size: 17px 18px;

          .theme-white & {
            background: url(../img/menu-icon-jackpot-white.svg) 0 0 no-repeat;
          }
        }

        .main-nav__icon--coin {
          background: url(../img/menu-icon-coinflip-white.svg) 0 0 no-repeat;
          background-size: 15px 11px;

          .theme-white & {
            background: url(../img/menu-icon-coinflip-white.svg) 0 0 no-repeat;
          }
        }
      }

      .main-nav__icon--jackpot {
        background: url(../img/menu-icon-jackpot-green.svg) 0 0 no-repeat;
        background-size: 17px 18px;

        .theme-white & {
          background: url(../img/menu-icon-jackpot-bright-green.svg) 0 0 no-repeat;
        }
      }

      .main-nav__icon--coin {
        background: url(../img/menu-icon-coinflip-green.svg) 0 0 no-repeat;
        background-size: 15px 11px;

        .theme-white & {
          background: url(../img/menu-icon-coinflip-bright-green.svg) 0 0 no-repeat;
        }
      }
    }

    &--coinflip {
      padding: 0 15px;
      position: relative;

      &::before {
        content: '';
        display: block;
        width: 1px;
        height: 27px;
        position: absolute;
        top: 50%;
        margin-top: -13px;
        background: #253136;
        left: 0;

        .theme-white & {
          background: #568482;
        }
      }
    }

    &--current.main-nav__link--coinflip::before {
      display: none;
    }

    &--jackpot {
      padding: 0 20px;
    }
  }

  &__icon {
    display: inline-block;
    margin-top: -4px;
    vertical-align: middle;

    &--jackpot {
      background: url(../img/menu-icon-jackpot-white.svg) 0 0 no-repeat;
      background-size: 17px 18px;
      width: 17px;
      height: 18px;
      margin-right: 7px;
    }

    &--coin {
      background: url(../img/menu-icon-coinflip-white.svg) 0 0 no-repeat;
      background-size: 15px 11px;
      width: 15px;
      height: 11px;
      margin-right: 12px;
    }
  }
}


.user-dropdown {
  position: relative;

  &--opened &__button {
    background: rgba(0, 0, 0, 0.89);

    .theme-white & {
      background: rgba(24, 63, 60, 0.9);
    }
  }

  &--opened &__button-arrow {
    transform: rotate(180deg);
  }

  &__button {
    appearance: none;
    background: transparent;
    border: none;
    padding: 0 0 0 14px;
    margin: 0;
    color: #ffffff;
    height: 55px;
    line-height: 55px;
    outline: none;
    cursor: pointer;
    border-radius: 0;
    min-width: 220px;
    text-align: right;
  }

  &__button-text {
    display: inline-block;
    vertical-align: middle;
  }

  &__button-arrow {
    display: inline-block;
    vertical-align: middle;
    margin-right: 11px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5.5px 8px 5.5px;
    border-color: transparent transparent #335950 transparent;
    transition: all 0.3s ease-in-out;

    .theme-white & {
      border-color: transparent transparent #a6d9d6 transparent;
    }
  }

  &__button-avatar {
    border-radius: 50%;
    border: 1px solid rgb(0, 255, 150);
    box-shadow: 0 0 6px 4px transparentize(#00ff96, 0.11);
    vertical-align: middle;
    margin-right: 12px;
  }
}


.coinflip-header {
  display: flex;
  padding: 29px 0 28px;
  flex: 1 0 auto;
  flex-grow: 0;

  &__item {
    flex: 1;
    padding: 0 2.8%;

    &--center {
      flex-grow: 0;
      padding: 0;
    }
  }

  &__title {
    font-size: 21px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
    text-align: center;
    vertical-align: middle;

    .theme-white & {
      color: #2f4f4d;
    }
  }

  &__title-bold {
    font-size: 21px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;

    .theme-white & {
      color: #2f4f4d;
    }
  }

  &__list {
    padding: 0;
    margin: 19px 0 0;
    list-style: none;
    text-align: center;
  }

  &__list-item {
    display: inline-block;
    margin: 0 20px 0 16px;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;

    .theme-white & {
      color: #2f4f4d;
    }
  }

  &__user-icon {
    background: url(../img/user-medium.svg) 0 0 no-repeat;
    background-size: 14px 18px;
    width: 14px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin: -5px 0 0 2px;
  }
}


.button {
  display: inline-block;
  appearance: none;
  outline: none;
  text-align: center;
  font-family: 'Roboto', Arial, sans-serif;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;

  &--xxlarge {
    height: 101px;
    line-height: 101px;
    font-size: 42px;
    padding: 0 130px;
    border-radius: 51px;
    text-transform: uppercase;
  }

  &--xlarge {
    height: 83px;
    line-height: 83px;
    font-size: 35px;
    padding: 0 98px;
    border-radius: 42px;
    text-transform: uppercase;
  }

  &--large {
    height: 58px;
    line-height: 58px;
    font-size: 26px;
    padding: 0 40px;
    border-radius: 29px;
    text-transform: uppercase;
  }

  &--small {
    height: 31px;
    line-height: 31px;
    font-size: 14px;
    padding: 0 15px;
    border-radius: 16px;
    text-transform: uppercase;
  }

  &--green {
    background-color: #00ff96;
    border: none;
    color: #363636;
    box-shadow: 0 0 9px 2px rgba(0, 255, 150, 0.6);
    font-weight: 400;
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 0 18px 2px rgba(0, 255, 150, 0.6);
    }
    
    .theme-white & {
      background-color: #00ffa8;
      box-shadow: 0 0 9px 2px #006845;

      &:hover {
        box-shadow: 0 0 18px 2px #006845;
      }
    }
  }

  &--outline {
    background-color: transparent;
    border: 1px solid #00ff96;
    color: #00ff96;
    font-weight: 400;

    .theme-white & {
      color: #000000;
      border: none;
      background: #ffffff;
      box-shadow: 0 0 5px rgba(81, 73, 70, 0.33);
    }
  }
}



.list-layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .theme-white & {
    background: #ededed;
  }

  &__table-head {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    table-layout: fixed;

    th {
      background: #000000;
      color: #3b6b68;
      font-size: 14px;
      font-weight: 300;
      padding: 9px 0;
      text-align: left;

      .theme-white & {
        background: #cbcbcb;
        color: #30504f;
      }

      &:first-child {
        padding-left: 23px;
      }
    }
  }

  &__table-container {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
  }

  &__table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    table-layout: fixed;


    td {
      padding: 12px 0 14px;
      border-bottom: 1px solid #253137;

      .theme-white & {
        border-bottom: 1px solid #bbbbbb;
      }

      &:first-child {
        padding-left: 23px;
        border-left: 1px solid #253137;

        .theme-white & {
          border-left: 1px solid #bbbbbb;
        }
      }

      &:last-child {
        border-right: 1px solid #253137;

        .theme-white & {
          border-right: 1px solid #bbbbbb;
        }
      }
    }
  }

  &__table &__winner-row td {
    background: #202b2e;

    .theme-white & {
      background: #ffffff;
    }
  }


  &__table &__players-col {
    .theme-white & {
      color: #000;
    }
  }

  &__table &__total-items-col {
    font-size: 16px;
    color: #ffffff;

    .theme-white & {
      color: #777777;
    }
  }

  &__table &__total-cost-col {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    position: relative;

    .theme-white & {
      color: #777777;
    }
  }

  &__table &__number-col {

  }

  &__table &__join-col {
    text-align: center;
    color: #ffffff;

    .theme-white & {
      color: #000000;
    }
  }

  &__table &__view-col {
    text-align: center;
  }

  &__game-items {
    margin: 0 0 0 20px;
    padding: 0;
    list-style: none;
    display: inline;
  }

  &__avatar {
    border-radius: 50%;
    border: 1px solid #29383f;
    overflow: hidden;
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
  }

  &__total-cost-addition {
    display: block;
    font-size: 12px;
    font-weight: 300;
  }

  &__coin {
    width: 44px;
    height: 44px;
    display: inline-block;
    vertical-align: middle;

    &--heads {
      background: url(../img/coin-color.svg) center center no-repeat;
      background-size: 44px 44px;
    }

    &--tails {
      background: url(../img/coin-color-back.svg) center center no-repeat;
      background-size: 44px 44px;
    }
  }

  &__winner-cup-icon {
    background: url(../img/cup-small.svg) 0 0 no-repeat;
    background-size: 40px 34px;
    width: 40px;
    height: 34px;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: -50px;

    .theme-white & {
      background: url(../img/cup-small-white-theme.svg) 0 0 no-repeat;
    }
  }

  &__winner-label {
    text-transform: uppercase;
    display: block;
    font-size: 10px;
    color: #ffffff;
    margin-top: 5px;

    .theme-white & {
      color: #2f4f4d;
    }
  }

  &__winner-avatar {
    display: inline-block;
    background: url(../img/winner-small-bg.svg) center top no-repeat;
    background-size: 64px 64px;
    width: 64px;
    text-align: center;
    padding: 13px 0 0;
    position: relative;
    vertical-align: middle;

    &::before {
      content: '';
      width: 28px;
      height: 28px;
      box-shadow: 0 0 10px 10px #b16001;
      position: absolute;
      top: 16px;
      border-radius: 50%;
      display: block;
      left: 50%;
      margin-left: -14px;
      z-index: -1;

      .theme-white & {
        z-index: 1;
        box-shadow: 0 0 11px 2px #b16001;
      }
    }

    .list-layout__avatar {
      border: 3px solid #f6b345;
      width: 28px;
      height: 28px;
    }
  }

  &__game-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
  }

  &__players-col {
    width: 46.35%;
  }

  &__total-items-col {
    width: 11.43%;
  }

  &__total-cost-col {
    width: 12.97%;
  }

  &__number-col {
    width: 12.04%;
  }

  &__join-col {
    width: 11.05%;
  }

  &__view-col {
    width: 8.16%;
  }
}

.circle-countdown {
  position: relative;
  width: 42px;
  height: 42px;
  margin: 0 auto;
  display: block;
  border-radius: 50%;

  &--red {
    border: 2px solid #6d0012;
    background-image: url(../img/clock-small-red.svg), url(../img/clock-small-gradient-red.png);
    background-position: center center;
    background-repeat: no-repeat;

    .theme-white & {
      background-image: url(../img/clock-small-red-white-theme.svg);
    }
  }

  &--green {
    border: 2px solid #008c52;
    background-image: url(../img/clock-small-green.svg), url(../img/clock-small-gradient-green.png);
    background-position: center center;
    background-repeat: no-repeat;

    .theme-white & {
      background-image: url(../img/clock-small-green-white-theme.svg);
    }
  }

  &__number {
    position: absolute;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    top: 0;
    left: 0;
    font-size: 25px;
  }

  &__svg {
    position: absolute;
    top: -2px;
    left: -2px;
  }
}

.large-avatar {
  display: inline-block;
  position: relative;
  vertical-align: top;
  z-index: 1;

  &__border {
    width: 155px;
    height: 155px;
    border-width: 15px;
    border-style: solid;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    left: -12px;
  }

  &__image {
    border-radius: 50%;
    border: 3px solid #00ff96;
    width: 155px;
    height: 155px;

    .theme-white & {
      border: 3px solid #777777;
    }
  }

  &__name {
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    display: block;
    margin: 11px 0 0;

    .theme-white & {
      color: #000000;
    }
  }

  &__number {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 2px solid #123b2f;
    display: inline-block;
    position: absolute;
    background-color: #151c1e;
    right: 0;
    top: -6px;

    &--heads {
      background: url(../img/coin-color.svg) center center no-repeat;
      background-size: 54px 54px;
      border: none;

      .theme-white & {

      }
    }

    &--tails {
      background: url(../img/coin-color-back.svg) center center no-repeat;
      background-size: 54px 54px;
      border: none;

      .theme-white & {

      }
    }
  }
}

.large-cup {
  position: relative;
  align-items: center;
  display: inline-flex;
  vertical-align: top;
  margin-left: -40px;

  &--loose {
    background: url(../img/cup-loose.svg) 0 0 no-repeat;
    width: 202px;
    height: 162px;
    max-width: 100%;
    background-size: contain;
    margin-top: 80px;
  }

  &--winner {
    background: url(../img/cup-winner.svg) 0 0 no-repeat;
    width: 317px;
    height: 234px;
    max-width: 100%;
    background-size: contain;
    margin-top: 40px;
  }

  &--winner &__label {
    position: absolute;
    font-size: 69px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffe400;
    top: -38px;
    width: 100%;
  }

  &--loose &__label {
    position: absolute;
    font-size: 69px;
    text-transform: uppercase;
    font-weight: bold;
    color: #151c1e;
    top: -84px;
    width: 100%;
    text-shadow: 0 0 1px #7293a5;
  }

  &--winner &__number {
    color: #000000;
    font-size: 52px;
    text-align: center;
    width: 100%;
    margin-top: -38px;
    font-weight: bold;
  }

  &--loose &__number {
    color: #ffffff;
    font-size: 52px;
    text-align: center;
    width: 100%;
    margin-top: -78px;
    font-weight: bold;
  }
}

.process-layout {
  overflow: hidden;
  position: relative;

  .theme-white & {
    background: #ededed;
  }

  &__inner {
    display: flex;
  }

  &__left-col,
  &__right-col {
    padding: 80px 34px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__middle-col {
    flex: 1;
    padding-top: 72px;
  }

  &__avatar-container {
    text-align: center;
  }
}

.process-user-data {
  margin: 67px 0 0;
  padding: 0;
  list-style: none;

  &--right {
    text-align: right;
  }

  &__item {
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px solid #253036;
    display: inline-block;
    font-weight: 300;

    .theme-white & {
      color: #000000;
      border-left: 1px solid #777777;
    }

    &:first-child {
      margin-left: 0;
      padding-left: 0;
      border-left: none;
    }
  }
}

.game-items-tiles {
  display: flex;
  margin-top: 9px;
  flex-wrap: wrap;
  margin-left: -5px;

  &--right {
    justify-content: flex-end;
  }
}

.game-items-tile {
  width: 122px;
  height: 114px;
  border: 1px solid #253137;
  position: relative;
  text-align: center;
  margin-left: 5px;
  margin-bottom: 5px;

  .theme-white & {
    border: 1px solid #bbbbbb;
  }

  &__image {
    margin-top: 25px;
  }

  &__price {
    text-align: center;
    font-size: 10px;
    color: #ffffff;

    .theme-white & {
      color: #000000;
    }
  }

  &__info {
    text-align: center;
    font-size: 10px;
    color: #ffffff;

    .theme-white & {
      color: #000000;
    }
  }

  &__description {
    position: absolute;
    bottom: 4px;
    width: 100%;
    padding: 0 3px;
    box-sizing: border-box;
  }

  &__info-item {
    border-left: 1px solid #1d322d;
    padding-left: 4px;

    .theme-white & {
      border-left: 1px solid #7e7e7e;
    }

    &:first-child {
      border-left: none;
      padding-left: 0;
    }
  }

  &__label {
    color: #00ff96;
    position: absolute;
    font-size: 12px;
    top: 5px;

    .theme-white & {
      color: #3b6b68;
    }

    &--left {
      left: 5px;
    }

    &--right {
      right: 5px;
    }
  }
}


.process-widget {
  width: 400px;
  height: 400px;
  border: 4px solid #123b2f;
  border-radius: 50%;
  position: relative;
  background-size: contain;
  margin: 0 auto;

  .theme-white & {
    //background: none;
  }

  &--heads {
    background: url(../img/coin-large-back.png) center center no-repeat;
    background-size: 346px 350px;
  }

  &--tails {
    background: url(../img/coin-large.png) center center no-repeat;
    background-size: 349px 333px;
  }

  &__number {
    height: 402px;
    line-height: 402px;
    font-size: 170px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;

    .theme-white & {
      color: #000000;
    }
  }
}

.process-widget-finish {
  border-radius: 50%;
  position: relative;
  width: 406px;
  height: 406px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 4px solid #1b2528;

  &--heads {
    background: url(../img/coin-color.svg) center center no-repeat;
    background-size: 406px 406px;
    border: none;
  }

  &--tails {
    background: url(../img/coin-color-back.svg) center center no-repeat;
    background-size: 406px 406px;
    border: none;
  }
}

.process-number-form {
  text-align: center;
  margin: 26px 0 0;

  &__coins {
    margin-top: 30px;
  }

  &__info-list {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #2c4d4b;
  }

  &__info-defenition {
    color: #355e5c;
  }

  &__title {
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    
    .theme-white & {
      color: #000000;
    }
  }

  &__button {
    display: inline-block;
    appearance: none;
    border: 4px solid #123b2f;
    width: 134px;
    height: 134px;
    border-radius: 50%;
    background: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0;
    outline: none;
    cursor: pointer;

    &--heads {
      background: url(../img/coin-color.svg) center center no-repeat;
      background-size: 134px 134px;
    }

    &--tails {
      background: url(../img/coin-color-back.svg) center center no-repeat;
      background-size: 134px 134px;
    }
  }

  &__button + &__button {
    margin-left: 31px;
  }

  &__submit {
    width: 271px;
    margin-top: 30px;
    padding: 0;
  }

  &__hint {
    color: #2c4d4b;
    font-size: 16px;
    text-transform: uppercase;
    margin: 13px 0 0;

    .theme-white & {
      color: #777777;
    }
  }
}



.faq-layout {
  overflow: hidden;
  position: relative;
  flex-grow: 1;

  .theme-white & {
    background: #ededed;
  }

  &__title {
    text-align: center;
    color: #ffffff;
    font-size: 36px;
    font-weight: 300;
    margin: 45px 0 45px;

    .theme-white & {
      color: #000000;
    }
  }

  &__title-icon {
    background: url(../img/faq-title-icon.svg) 0 0 no-repeat;
    background-size: 29px 26px;
    width: 29px;
    height: 26px;
    display: inline-block;
    margin-right: 10px;

    .theme-white & {
      background: url(../img/faq-title-icon-white-theme.svg) 0 0 no-repeat;
    }
  }
}

.faq-list {
  margin: 0 23px 23px;
  padding: 0;
  list-style: none;

  &__item {
    border: 1px solid #253137;
    border-top: none;

    .theme-white & {
      border: 1px solid #bbbbbb;
      border-top: none;
    }

    &:first-child {
      border-top: 1px solid #253137;

      .theme-white & {
        border-top: 1px solid #bbbbbb;
      }
    }
  }

  &__summary {
    padding: 45px;
    outline: none;
    cursor: pointer;

    .theme-white & {
      color: #777777;
    }
  }

  &__summary-text {
    color: #ffffff;

    .theme-white & {
      color: #777777;
    }
  }

  &__answer {
    padding: 35px 40px 35px 90px;
    margin: 0;
    background-color: #253137;
    background-image: url(../img/faq-answer-icon.svg);
    background-repeat: no-repeat;
    background-position: 40px 35px;
    background-size: 40px 40px;

    .theme-white & {
      color: #2f4f4d;
      border-top: 1px solid #bbbbbb;
      background-color: #ffffff;
      background-image: url(../img/faq-answer-icon-white-theme.svg);
    }
  }
}

.terms-layout {
  overflow: hidden;
  position: relative;

  .theme-white & {
    background: #ededed;
  }

  &__title {
    text-align: center;
    color: #ffffff;
    font-size: 36px;
    font-weight: 300;
    margin: 45px 0 45px;
    text-transform: uppercase;

    .theme-white & {
      color: #000000;
    }
  }

  &__title-icon {
    background: url(../img/terms-title-icon.svg) 0 0 no-repeat;
    background-size: 26px 26px;
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-right: 10px;

    .theme-white & {
      background: url(../img/terms-title-icon-white-theme.svg) 0 0 no-repeat;
    }
  }
}

.terms-list {
  margin: 0 23px 23px;
  padding: 0;
  list-style: none;

  &__item {
    border: 1px solid #253137;
    border-top: none;
    padding: 35px 40px;

    .theme-white & {
      border: 1px solid #bbbbbb;
      border-top: none;
    }

    &:first-child {
      border-top: 1px solid #253137;

      .theme-white & {
        border-top: 1px solid #bbbbbb;
      }
    }

    p {
      margin: 25px 0 0;

      .theme-white & {
        color: #777777;
      }
    }
  }

  &__title {
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;

    .theme-white & {
      color: #000000;
    }
  }
}

.jackpot-layout {
  display: flex;
  flex-grow: 1;
  
  .theme-white & {
    background: #ededed;
  }

  &__list {
    flex: 28;
    position: relative;
    overflow: hidden;
  }

  &__main {
    flex: 72;
    position: relative;
    overflow: hidden;
  }
}


.roulette {
  background: #124936;
  border: 1px solid #019357;
  height: 100px;
  border-bottom: none;
  position: relative;
  overflow: hidden;

  .theme-white & {
    background: #33af84;
  }

  &__inner {
    padding: 32px 0 26px;
    white-space: nowrap;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
  }

  &__pointer {
    background: url(../img/roulette-pointer.svg) 0 0 no-repeat;
    width: 13px;
    height: 31px;
    background-size: 13px 31px;
    position: absolute;
    margin-left: -6px;
    top: 0;
    left: 50%;
  }

  &__item {
    display: inline-block;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
  }

  &__avatar-color {
    width: 32px;
    height: 32px;
    border-width: 3px;
    border-style: solid;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: -3px;
  }

  &__avatar-img {
    height: 32px;
    border: 1px solid #29383f;
    border-radius: 50%;

    .theme-white & {
      border: 1px solid #777777;
    }
  }

  &__avatar {
    position: relative;
    margin-right: 10px;
  }
}

.round-header {
  background: #253137;
  padding: 21px 10px 22px;

  .theme-white & {
    background: #cbcbcb;
  }

  &__title {
    text-align: center;
    font-weight: 300;
    color: #00ff96;
    font-size: 18px;
    text-transform: uppercase;

    .theme-white & {
      color: #3b6b68;
    }
  }

  &__info {
    margin: 4px 0 0;
    font-size: 14px;
    text-align: center;
    word-wrap: break-word;

    .theme-white & {
      color: #777777;
    }
  }
}

.roulette-user {
  border: 1px solid #253137;
  border-top: none;

  .theme-white & {
    border: 1px solid #bbbbbb;
    border-top: none;
  }

  &__main {
    display: flex;
    padding: 13px 20px 16px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;

    .game-items-tile {
      flex: 0 0 30%;
    }
  }

  &__avatar {
    flex: 0 0 32px;
    position: relative;
    margin-right: 10px;
  }

  &__info {
    flex-grow: 1;
  }

  &__avatar-img {
    height: 32px;
    border: 1px solid #29383f;
    border-radius: 50%;

    .theme-white & {
      border: 1px solid #777777;
    }
  }

  &__avatar-color {
    width: 32px;
    height: 32px;
    border-width: 3px;
    border-style: solid;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: -3px;
  }

  &--winner {
    position: relative;

    &::before {
      width: 52px;
      height: 52px;
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      background: url(../img/roulette-user-winner-icon.svg) 0 0 no-repeat;
      background-size: 52px 52px;

      .theme-white & {
        background: url(../img/roulette-user-winner-icon-white-theme.svg) 0 0 no-repeat;
      }
    }
  }

  &--winner &__avatar {
    flex: 0 0 39px;
    height: 39px;
  }


  &--winner &__avatar-img {
    height: 37px;
    width: 37px;
    border: none;
  }

  &--winner &__avatar-color {
    border-width: 3px;
    border-style: solid;
    width: 37px;
    height: 37px;
  }

  &--winner &__meta-item {
    color: #ffffff;
  }

  &--winner &__meta-item:nth-child(1) {
    font-size: 20px;

    .theme-white & {
      color: #777777;
    }
  }

  &--winner &__meta-item:nth-child(2) {
    font-size: 18px;

    .theme-white & {
      color: #000000;
    }
  }

  &--winner &__meta-item:nth-child(3) {
    font-size: 12px;


    .theme-white & {
      color: #777777;
    }
  }

  &--winner &__meta-item:nth-child(4) {
    font-size: 14px;


    .theme-white & {
      color: #000000;
    }
  }

  &--winner &__icon {
    display: none;
  }

  &__name {
    font-size: 13px;
    color: #ffffff;
    margin: 0;
    font-weight: 400;

    .theme-white & {
      color: #000000;
    }
  }
  
  &__label {
    font-size: 9px;
    color: #00ff96;
    background: #27443d;
    height: 13px;
    line-height: 13px;
    display: inline-block;
    padding-right: 6px;
    border-radius: 0 7px 7px 0;
    position: relative;
    margin-left: 15px;
    font-weight: 400;
    
    .theme-white & {
      color: #a6d9d6;
      background: #5e918e;
    }

    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6.5px 9px 6.5px 0;
      border-color: transparent #27443d transparent transparent;
      left: -9px;
      top: 0;

      .theme-white & {
        border-color: transparent #5e918e transparent transparent;
      }
    }
  }

  &__meta {
    margin: 4px 0 0;
  }

  &__meta-item {
    display: inline-block;
    font-size: 12px;

    .theme-white & {
      color: #777777;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #355e54;
    flex: 0 0 20px;

    .theme-white & {
      border: 1px solid #777777;
    }

    &::before {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 3px 6px 3px;
      border-color: transparent transparent #355e54 transparent;
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -3px;
      left: 50%;
      margin-left: -3px;

      .theme-white & {
        border-color: transparent transparent #777777 transparent;
      }
    }
  }
}

.jackpot-warning {
  width: 33%;
  font-size: 12px;
  margin: 44px 0 0 8.12%;
  position: relative;

  .theme-white & {
    color: #2f4f4d;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    background: url(../img/warning-icon.svg) 0 0 no-repeat;
    background-size: 19px 18px;
    width: 19px;
    height: 18px;
    left: -30px;
    top: 5px;

    .theme-white & {
      background: url(../img/warning-icon-white-theme.svg) 0 0 no-repeat;
    }
  }

  p {
    margin: 0;
  }
}

.winner-total {
  position: absolute;
  top: 47px;
  right: 40px;
  text-align: right;
  padding-left: 60px;
  background: url(../img/cup-winner-medium.svg) 3px center no-repeat;
  background-size: 51px 51px;

  .theme-white & {
    background-size: 57px 57px;
    background: url(../img/cup-winner-medium-white-theme.svg) 0 center no-repeat;
  }

  &__text-small {
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 300;

    .theme-white & {
      color: #000000;
    }
  }

  &__text-medium {
    font-size: 34px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 300;

    .theme-white & {
      color: #000000;
    }
  }

  &__label {
    display: inline-block;
    vertical-align: middle;
  }

  &__price {
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
    font-size: 50px;
    color: #ffffff;

    .theme-white & {
      color: #000000;
    }
  }
}

.jackpot-diagram {
  width: 560px;
  height: 560px;
  margin: 0 auto;
  position: relative;

  &__svg {
    position: relative;
    z-index: 2;
  }

  &__inner {
    position: absolute;
    width: 310px;
    height: 310px;
    border: 1px solid #32434c;
    background: -moz-radial-gradient(center, ellipse cover, #0e6343 0%, #151d1e 65%);
    background: -webkit-radial-gradient(center, ellipse cover, #0e6343 0%,#151d1e 65%);
    background: radial-gradient(ellipse at center, #0e6343 0%,#151d1e 65%);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -159px;
    margin-top: -159px;

    .theme-white & {
      background: none;
      border: 1px solid #bbbbbb;
    }
  }

  &__number {
    height: 318px;
    line-height: 318px;
    font-size: 110px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;

    .theme-white & {
      color: #000000;
    }
  }

  &__top-number {
    font-size: 60px;
    color: #ffffff;
    position: absolute;
    top: 60px;
    right: 50%;
    margin-right: -120px;

    .theme-white & {
      color: #3b6b68;
    }
  }

  &__timer {
    margin-top: 35px;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;

    .theme-white & {
      color: #000000;
    }
  }

  &__timer-icon {
    background: url(../img/clock.svg) 0 0 no-repeat;
    background-size: 31px 31px;
    width: 31px;
    height: 31px;
    display: inline-block;

    .theme-white & {
      background: url(../img/clock-white-theme.svg) 0 0 no-repeat;
    }
  }
}

.jackpot-diagram-legend {
  position: absolute;
  left: 50px;
  top: 240px;
  width: 62px;

  &__title {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;

    .theme-white & {
      color: #000000;
    }
  }

  &__colors {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__color {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 4px;
    display: inline-block;
    border: 1px solid transparent;

    .theme-white & {
      border: 1px solid #a6d9d6;
    }
  }

  &__item {
    text-align: left;
    font-size: 15px;
    color: #ffffff;
    margin-top: 10px;

    .theme-white & {
      color: #000000;
    }
  }

  &__total {
    text-align: left;
    margin-top: 10px;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;

    .theme-white & {
      color: #000000;
    }
  }

  &__total-number {
    font-weight: 400;
    font-size: 26px;
  }
}

.jackpot-diagram-form {
  text-align: center;

  &__submit {
    margin: 24px 0 0;
  }

  &__hint {
    font-size: 12px;

    .theme-white & {
      color: #777777;
    }
  }
}


.history-list {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;

  th {
    background: #000000;
    color: #3b6b68;
    padding: 9px 0 9px 30px;
    font-weight: 300;
    font-size: 14px;
    text-align: left;

    .theme-white & {
      background: #cbcbcb;
      color: #2f4f4d;
    }
  }

  td {
    background: #151c1e;
    border-top: 1px solid #253137;
    padding: 15px 0 16px  30px;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;

    .theme-white & {
      background: #ededed;
      border-top: 1px solid #bbbbbb;
      color: #000000;
    }
    
    &:first-child {
      color: #ffffff;

      .theme-white & {
        color: #777777;

        .history-list__strong {
          color: #000000;
        }
      }
    }
  }

  &__strong {
    font-weight: bold;
  }
}
.history-head {
  text-align: center;

  &__coinflip-icon {
    display: inline-block;
    background: url(../img/history-coinflip.svg) 0 0 no-repeat;
    width: 27px;
    height: 19px;
    background-size: 27px 19px;
    margin-right: 10px;
  }

  &__jackpot-icon {
    display: inline-block;
    background: url(../img/history-jackpot.svg) 0 0 no-repeat;
    width: 20px;
    height: 22px;
    background-size: 20px 22px;
    margin-right: 10px;
  }
}

.history-footer {
  text-align: right;
  margin-top: 22px;
}

.history-dropdown-list {
  background: #253137;
  color: #ffffff;
  border: 1px solid #445158;
  border-top: none;
  position: absolute;
  top: 29px;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  text-align: left;
  display: none;

  .theme-white & {
    background: #3b6b68;
    border: 1px solid #5e918e;
    border-top: none;
  }

  &__link {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 8px 0 8px 14px;
  }
}

.history-button {
  appearance: none;
  background: transparent;
  border: 1px solid #445158;
  color: #ffffff;
  font-size: 18px;
  height: 30px;
  line-height: 30px;
  padding: 0 33px 0 13px;
  cursor: pointer;
  outline: none;
  position: relative;
  border-radius: 0;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5.5px 0 5.5px;
    border-color: #355e54 transparent transparent transparent;
    top: 10px;
    right: 10px;

    .theme-white & {
      border-color: #94c6c3 transparent transparent transparent;
    }
  }

  &--opened {
    &::after {
      border-width: 0 5.5px 8px 5.5px;
      border-color: transparent transparent #355e54 transparent;

      .theme-white & {
        border-color: transparent transparent #94c6c3 transparent;
      }
    }
  }

  .theme-white & {
    border: 1px solid #5e918e;
  }
}

.history-stats {
  background: #253137;
  text-align: center;
  display: flex;
  border: 1px solid #445158;
  margin-top: 20px;
  margin-bottom: -20px;

  .theme-white & {
    background: #cbcbcb;
    border: 1px solid #bbbbbb;
  }

  &__item {
    flex: 1;
    border-left: 1px solid #445158;
    padding: 30px 0 30px;

    &:first-child {
      border-left: none;
    }

    .theme-white & {
      border-left: 1px solid #bbbbbb;

      &:first-child {
        border-left: none;
      }
    }
  }

  &__title {
    color: #ffffff;
    font-size: 20px;

    .theme-white & {
      color: #2f4f4d;
    }
  }

  &__total {
    font-size: 34px;
    font-weight: 300;
    color: #ffffff;
    margin-top: 11px;

    .theme-white & {
      color: #000000;
    }
  }
}

.history-dropdown-wrapper {
  position: relative;
  display: inline-block;
  margin-top: 15px;
}

.popup {
  &__title {
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    margin: 22px 0 0;
  }

  &__label {
    font-size: 20px;
    color: #ffffff;
    font-weight: 300;
    width: 19%;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    padding-right: 10px;
  }

  &__find-link {
    font-size: 12px;
    color: #ffffff;
    text-decoration: underline;
    display: inline-block;
    padding-left: 18px;
    background: url(../img/search-icon.svg) 0 0 no-repeat;
    background-size: 11px 11px;

  }

  &__avatar-image {
    width: 155px;
    height: 155px;
    border-radius: 50%;
    border: 1px solid rgb(0, 255, 150);
    box-shadow: 0 0 6px 4px rgba(0, 255, 150, 0.89);
  }

  &__avatar {
    text-align: center;
  }

  &__form {
    position: relative;
    margin-top: 40px;
  }

  &__input {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(50, 67, 76);
    border-radius: 21px;
    background-color: rgb(27, 35, 39);
    box-shadow: inset 2.351px 3.236px 4px 0px rgba(0, 0, 0, 0.35);
    height: 41px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
    padding: 0 130px 0 20px;
    vertical-align: middle;
    display: inline-block;
    width: 77%;
    margin-left: -4px;
    outline: none;

    .theme-white & {
      border-style: solid;
      border-width: 1px;
      border-color: rgb(177, 176, 176);
      border-radius: 21px;
      background-color: rgb(237, 237, 237);
      box-shadow: inset 0px 0px 7px 0px rgba(18, 18, 18, 0.49);
      color: #777777;
    }
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    height: 41px;
    line-height: 41px;
    border-radius: 22px;
  }

  &__after-form {
    text-align: right;
    margin-top: 15px;
  }

  &__close {
    width: 40px;
    height: 40px;
    appearance: none;
    border: none;
    outline: none;
    background: url(../img/close.svg) 0 0 no-repeat;
    background-size: 40px 40px;
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 17px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    padding: 0;
    cursor: pointer;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }

    .theme-white & {
      background: url(../img/close-white-theme.svg) 0 0 no-repeat;
    }
  }
}

.tingle-modal-box__content {
  background: #253137;
  padding: 70px 80px 80px;

  .theme-white & {
    background: #3b6b68;
  }
}

.history-modal .tingle-modal-box__content {
  padding: 40px 99px 32px 74px;
  overflow: auto;
}

.history-modal .tingle-modal-box__content .popup {
  min-width: 600px;
}
